<section>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()" class="text-center">
    <div class="form-group">
    <mat-form-field >
      <input
        type="text"
        matInput
        placeholder="User Name *{hint: Test1}"
        formControlName="user_name">
      <mat-error>Invalid or missing User Name.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="form-group">
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password">
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>
  </div>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</section>

